@import url('https://fonts.googleapis.com/css2?family=Inter&family=Tektur:wght@800&display=swap');

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.nav-link {
  color: #b5a642 !important;
}

.modal-title {
  color: #b5a642 !important;
}

.form-control {
background-color: black !important;
color: #8BBCCC !important;
outline:none !important;
}

.form-label {
  color: #8BBCCC !important;
  outline: none;
  background-color: transparent !important;
}

.form-control {
  outline: none !important;
}


input {
  padding:10px !important;
  /* border-radius:10px !important; */
  border: 0 !important
}

.navbar-brand {
 padding: .5rem;
 margin: 0;
}

#registerbutton:hover {
  background-color: black;
  color: #c7c8c9 !important;
}

#registerbutton {
  color: #8BBCCC !important;
}

#loginbutton {
  color: #8BBCCC;
}

#loginbutton:hover {
  background-color: black;
  color: #c7c8c9;
}

#logoutbtn {
  color: #b5a642 !important;

}

#gameoverbutton:hover {
  background-color: black;
  color: #c7c8c9 !important;
}

#gameoverbutton {
  color: #8BBCCC !important;
}

#gameovermessage {
  color: #8BBCCC !important;
}


.line {
  border-top: 5px solid #c7c8c9;
}

.nav-text {
  color: #b5a642 !important;
}

.nav-style {
  background: #0E1014;
  border-bottom: 2px solid #b5a642;
  box-shadow: 0px 2px 2px 0px rgba(63, 63, 63, 0.50);
  height: 5rem;
}

.primary-bg-style {
  background:
    /* linear-gradient(to top, #858a9133 0%, #53555980 70%, #151617c5 100%), */
    /* radial-gradient(ellipse farthest-corner at center center, #0A0C0D 0%, #21282B 50%, #313B40 100%); */
    radial-gradient(ellipse farthest-corner at center center, #2E3645 0%, #202630 30%, #0E1014 100%);

  height: calc(100vh - 5rem);
}
