@keyframes flicker {
  0% {
    opacity: 0.27861;
  }
  5% {
    opacity: 0.34769;
  }
  10% {
    opacity: 0.23604;
  }
  15% {
    opacity: 0.90626;
  }
  20% {
    opacity: 0.18128;
  }
  25% {
    opacity: 0.83891;
  }
  30% {
    opacity: 0.65583;
  }
  35% {
    opacity: 0.67807;
  }
  40% {
    opacity: 0.26559;
  }
  45% {
    opacity: 0.84693;
  }
  50% {
    opacity: 0.96019;
  }
  55% {
    opacity: 0.08594;
  }
  60% {
    opacity: 0.20313;
  }
  65% {
    opacity: 0.71988;
  }
  70% {
    opacity: 0.53455;
  }
  75% {
    opacity: 0.37288;
  }
  80% {
    opacity: 0.71428;
  }
  85% {
    opacity: 0.70419;
  }
  90% {
    opacity: 0.7003;
  }
  95% {
    opacity: 0.36108;
  }
  100% {
    opacity: 0.24387;
  }
}

@keyframes textShadow {
0% {
    text-shadow: 0.4389924193300864px 0 1px rgba(59,237,145,0.5), -1.6208764473832513px 0 1px rgba(0,255,123,0.3), 0 0 1px;
  }
  5% {
    text-shadow: 1.7928974010788217px 0 1px rgba(59,237,145,0.5), -1.6208764473832513px 0 1px rgba(0,255,123,0.3), 0 0 1px;
  }
  10% {
    text-shadow: 0.02956275843481219px 0 1px rgba(59,237,145,0.5), -1.6208764473832513px 0 1px rgba(0,255,123,0.3), 0 0 1px;
  }
  15% {
    text-shadow: 0.40218538552878136px 0 1px rgba(59,237,145,0.5), -1.6208764473832513px 0 1px rgba(0,255,123,0.3), 0 0 1px;
  }
  20% {
    text-shadow: 2.4794037899852017px 0 1px rgba(59,237,145,0.5), -1.6208764473832513px 0 1px rgba(0,255,123,0.3), 0 0 1px;
  }
  25% {
    text-shadow: 1.6125630401149584px 0 1px rgba(59,237,145,0.5), -1.6208764473832513px 0 1px rgba(0,255,123,0.3), 0 0 1px;
  }
  30% {
    text-shadow: 0.7015590085143956px 0 1px rgba(59,237,145,0.5), -1.6208764473832513px 0 1px rgba(0,255,123,0.3), 0 0 1px;
  }
  35% {
    text-shadow: 2.896914047650351px 0 1px rgba(59,237,145,0.5), -1.6208764473832513px 0 1px rgba(0,255,123,0.3), 0 0 1px;
  }
  40% {
    text-shadow: 2.870905614848819px 0 1px rgba(59,237,145,0.5), -1.6208764473832513px 0 1px rgba(0,255,123,0.3), 0 0 1px;
  }
  45% {
    text-shadow: 1.231056963361899px 0 1px rgba(59,237,145,0.5), -1.6208764473832513px 0 1px rgba(0,255,123,0.3), 0 0 1px;
  }
  50% {
    text-shadow: 0.08084290417898504px 0 1px rgba(59,237,145,0.5), -1.6208764473832513px 0 1px rgba(0,255,123,0.3), 0 0 1px;
  }
  55% {
    text-shadow: 1.3758461067427543px 0 1px rgba(59,237,145,0.5), -1.6208764473832513px 0 1px rgba(0,255,123,0.3), 0 0 1px;
  }
  60% {
    text-shadow: 1.202193051050636px 0 1px rgba(59,237,145,0.5), -1.6208764473832513px 0 1px rgba(0,255,123,0.3), 0 0 1px;
  }
  65% {
    text-shadow: 1.8638780614874975px 0 1px rgba(59,237,145,0.5), -1.6208764473832513px 0 1px rgba(0,255,123,0.3), 0 0 1px;
  }
  70% {
    text-shadow: 0.48874025155497314px 0 1px rgba(59,237,145,0.5), -1.6208764473832513px 0 1px rgba(0,255,123,0.3), 0 0 1px;
  }
  75% {
    text-shadow: 0.8948491305757957px 0 1px rgba(59,237,145,0.5), -1.6208764473832513px 0 1px rgba(0,255,123,0.3), 0 0 1px;
  }
  80% {
    text-shadow: 0.0833037308038857px 0 1px rgba(59,237,145,0.5), -1.6208764473832513px 0 1px rgba(0,255,123,0.3), 0 0 1px;
  }
  85% {
    text-shadow: 0.09769827255241735px 0 1px rgba(59,237,145,0.5), -1.6208764473832513px 0 1px rgba(0,255,123,0.3), 0 0 1px;
  }
  90% {
    text-shadow: 2.443339761481782px 0 1px rgba(59,237,145,0.5), -1.6208764473832513px 0 1px rgba(0,255,123,0.3), 0 0 1px;
  }
  95% {
    text-shadow: 1.1841838852799786px 0 1px rgba(59,237,145,0.5), -1.6208764473832513px 0 1px rgba(0,255,123,0.3), 0 0 1px;
  }
  100% {
    text-shadow: 1.6208764473832513px 0 1px rgba(59,237,145,0.5), -1.6208764473832513px 0 1px rgba(0,255,123,0.3), 0 0 1px;
  }
}

@keyframes boxShadow {
  0% {
    box-shadow: 0.4389924193300864px 0 1px rgba(59,237,145,0.5), -1.6208764473832513px 0 1px rgba(0,255,123,0.3), 0 0 1px;
  }
  5% {
    box-shadow: 1.7928974010788217px 0 1px rgba(59,237,145,0.5), -1.6208764473832513px 0 1px rgba(0,255,123,0.3), 0 0 1px;
  }
  10% {
    box-shadow: 0.02956275843481219px 0 1px rgba(59,237,145,0.5), -1.6208764473832513px 0 1px rgba(0,255,123,0.3), 0 0 1px;
  }
  15% {
    box-shadow: 0.40218538552878136px 0 1px rgba(59,237,145,0.5), -1.6208764473832513px 0 1px rgba(0,255,123,0.3), 0 0 1px;
  }
  20% {
    box-shadow: 2.4794037899852017px 0 1px rgba(59,237,145,0.5), -1.6208764473832513px 0 1px rgba(0,255,123,0.3), 0 0 1px;
  }
  25% {
    box-shadow: 1.6125630401149584px 0 1px rgba(59,237,145,0.5), -1.6208764473832513px 0 1px rgba(0,255,123,0.3), 0 0 1px;
  }
  30% {
    box-shadow: 0.7015590085143956px 0 1px rgba(59,237,145,0.5), -1.6208764473832513px 0 1px rgba(0,255,123,0.3), 0 0 1px;
  }
  35% {
    box-shadow: 2.896914047650351px 0 1px rgba(59,237,145,0.5), -1.6208764473832513px 0 1px rgba(0,255,123,0.3), 0 0 1px;
  }
  40% {
    box-shadow: 2.870905614848819px 0 1px rgba(59,237,145,0.5), -1.6208764473832513px 0 1px rgba(0,255,123,0.3), 0 0 1px;
  }
  45% {
    box-shadow: 1.231056963361899px 0 1px rgba(59,237,145,0.5), -1.6208764473832513px 0 1px rgba(0,255,123,0.3), 0 0 1px;
  }
  50% {
    box-shadow: 0.08084290417898504px 0 1px rgba(59,237,145,0.5), -1.6208764473832513px 0 1px rgba(0,255,123,0.3), 0 0 1px;
  }
  55% {
    box-shadow: 1.3758461067427543px 0 1px rgba(59,237,145,0.5), -1.6208764473832513px 0 1px rgba(0,255,123,0.3), 0 0 1px;
  }
  60% {
    box-shadow: 1.202193051050636px 0 1px rgba(59,237,145,0.5), -1.6208764473832513px 0 1px rgba(0,255,123,0.3), 0 0 1px;
  }
  65% {
    box-shadow: 1.8638780614874975px 0 1px rgba(59,237,145,0.5), -1.6208764473832513px 0 1px rgba(0,255,123,0.3), 0 0 1px;
  }
  70% {
    box-shadow: 0.48874025155497314px 0 1px rgba(59,237,145,0.5), -1.6208764473832513px 0 1px rgba(0,255,123,0.3), 0 0 1px;
  }
  75% {
    box-shadow: 0.8948491305757957px 0 1px rgba(59,237,145,0.5), -1.6208764473832513px 0 1px rgba(0,255,123,0.3), 0 0 1px;
  }
  80% {
    box-shadow: 0.0833037308038857px 0 1px rgba(59,237,145,0.5), -1.6208764473832513px 0 1px rgba(0,255,123,0.3), 0 0 1px;
  }
  85% {
    box-shadow: 0.09769827255241735px 0 1px rgba(59,237,145,0.5), -1.6208764473832513px 0 1px rgba(0,255,123,0.3), 0 0 1px;
  }
  90% {
    box-shadow: 2.443339761481782px 0 1px rgba(59,237,145,0.5), -1.6208764473832513px 0 1px rgba(0,255,123,0.3), 0 0 1px;
  }
  95% {
    box-shadow: 1.1841838852799786px 0 1px rgba(59,237,145,0.5), -1.6208764473832513px 0 1px rgba(0,255,123,0.3), 0 0 1px;
  }
  100% {
    box-shadow: 1.6208764473832513px 0 1px rgba(59,237,145,0.5), -1.6208764473832513px 0 1px rgba(0,255,123,0.3), 0 0 1px;
  }
}

.crt::after {
    content: " ";
    display: block;
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background: rgba(18, 16, 16, 0.1);
    opacity: 0;
    z-index: 2;
    pointer-events: none;
    animation: flicker 1s infinite;
}

.crt::before {
    content: " ";
    display: block;
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    pointer-events: none;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
}

.crt {
    animation: textShadow 8s infinite;
    /* background: linear-gradient(180deg, #1bb53f, #c2ffd0); */
    background-image: radial-gradient(#103c25, #081a10 , #030f08);
    border: 4px outset grey;
    box-shadow: 0px 0px 4px 4px black;
    color: #13e478;
    font-family: 'VT323', monospace;
    }

.crt-border {
    animation: boxShadow 8s infinite;
}

.crt-div {
    color: #13e478;
    font-family: 'VT323', monospace;
    animation: textShadow 8s infinite;
}

.crt-btn {
    animation: textShadow 8s infinite, boxShadow 8s infinite;
    background-color: transparent;
    border: 2px solid #13e478;
    border-radius: 5px;
    color: #13e478;
    font-family: 'VT323', monospace;
}

.crt-btn:hover:enabled {
    background-color: #0a2b11;
    color: #1bb53f;
}

.crt-btn:active:enabled {
    background-color: #1bb53f;
    color: #0a2b11;
}

.crt-btn:disabled {
    text-decoration: line-through;
}

.crt-input{
  animation: textShadow 8s infinite;
  background-color: transparent;
  border-radius: 5px;
  color: #13e478;
  font-family: 'VT323', monospace;
}


.crt-input:focus{
  outline: none;
}


.pointScreen {
    border-radius: 3rem;
    display: flex;
    align-items: center;
}

.lightPanel {
  border: 3px outset #49597D;
  background: radial-gradient(circle farthest-corner at center center, #718CC3 0%, #6982B5 30%, #5F75A3 60%, #566A94 100%);
  box-shadow: -3px 3px 4px 0px rgba(0, 0, 0, 0.25);


}

@keyframes warnFlash {
  0% {background: radial-gradient(#8a7b0a, #665b07, #403904)}
  50% {background: radial-gradient(#ffea52, #d9c425, #99880e );}
}

.blk-warning{
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(#8a7b0a, #665b07, #403904);
  border: 3px inset black;
  box-shadow: 0px 0px 2px 3px #2f3030;
  font-family: 'IBM Plex Serif', serif;

  width: 5rem;
  aspect-ratio: 1;
}

.blk-warning-on {
  animation: warnFlash 3s infinite;
}

.blk-green {
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(circle farthest-corner at center center, #458C70 0%, #356B56 30%, #1C382D 100%);
  border: 3px inset black;
  box-shadow: 0px 0px 2px 3px #2f3030;
  font-family: 'IBM Plex Serif', serif;

  width: 5rem;
  aspect-ratio: 1;
}
.blk-green-on {
  background: radial-gradient(circle farthest-corner at center center, #2EFF7B 0%, #26CC63 30%, #1B9146 100%);
}

.blk-error {
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(circle farthest-corner at center center, #BF5252 0%, #A14545 30%, #753333 100%);
  border: 3px inset black;
  box-shadow: 0px 0px 2px 3px #2f3030;
  font-family: 'IBM Plex Serif', serif;

  width: 5rem;
  aspect-ratio: 1;
}

.blk-error-on {
  background: radial-gradient(circle farthest-corner at center center, #FF3D3D 0%, #DB1616 35%, #A31010 100%);
}

.mainframe-btn {
  padding: 10px;
  margin: .5rem;
  color: white;
  font-size: large;
  font-weight: bold;
  text-shadow: 1px 1px 0px #999, 1px 2px 0px #001135;
  font-family: 'IBM Plex Serif', serif;
  height: 80%;
  background: repeating-linear-gradient(0deg, #525252, #1c1c1c 4px);
  border: 4px outset black;
  aspect-ratio: 1;
}

.mainframe-btn:active{
  border: 4px inset black;
}

.retro-dataplate {
  color: #b5a642;
  background: radial-gradient(circle farthest-corner at center center, #2E3645 0%, #202630 30%, #0E1014 100%);
  border: 2px solid #b5a642;
  border-radius: 5px;
  box-shadow: 0px 0px 2px 3px #2f3030;
  font-family: "Germania One"
}

.switch-panel{
  background: radial-gradient(circle farthest-corner at center center, #9A9D9E 0%, #7D8080 50%, #636566 100%);
  box-shadow: -3px 3px 4px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid #0E1014;
  border-radius: 10px;
}

.table-container{
  overflow-y: scroll;
}

.table-container::-webkit-scrollbar{
  width: 2px;
  height: 75%;
}

.table-container::-webkit-scrollbar-track {
  background: #0a2b11;
  animation: boxShadow 8s infinite;
}

.table-container::-webkit-scrollbar-thumb {
  background: #13e478;
}

.crt-table{
  color: #13e478;
  background: transparent;
  vertical-align: middle;
}

.crt-table-head{
  position: sticky;
  top: 0px;
  margin: 0 0 0 0;
  background-color: #1bb53f;
  color: #0a2b11;
  text-align: center;
  font-weight: 800;
}

.crt-table-row{
  color: #13e478;
  background: transparent;
  text-align: center;
}
.crt-table-row:hover {
  background-color: #0a2b11;
}

.crt-table-row:active {
  background-color: #1bb53f;
  color: #0a2b11;
}

.crt-table-row-active {
  background-color: #1bb53f;
  color: #0a2b11;
  font-weight: 800;
}