$primary: #8BBCCC;
$secondary: #4C6793;

$theme-colors: (
    primary: $primary,
    secondary: $secondary,
);

$custom-colors: (
    "accent": #5C2E7E,
    "accentGrey": #3B3D43,
    "offWhite": #c7c8c9,
    "screenTextGreen": #13e478,
    "screenGreenLight": #c2ffd0,
    "screenGreenDark": #1bb53f
);


$theme-colors: map-merge($theme-colors, $custom-colors);

@import '~bootstrap/scss/bootstrap';

$utilities: map-merge(
  $utilities,
  (
    "sizes": map-merge(
      map-get($utilities, "width"),
      (
        values: map-merge(
          map-get(map-get($utilities, "width"), "values"),
          (15: 15%, 20: 20%, 30: 30%, 35: 35%, 40: 40%, 60: 60%, 65: 65%, 80: 80%, 85: 85%),
        ),
      ),
    ),
  )
);

@import '~bootstrap/scss/bootstrap';
