#stagingDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#purpleBox {
    display: flex;
    max-width: 95vw;
    background: linear-gradient(207deg, #21002D 0%, #6F238A 100%);
    padding: 1rem;
    margin: 2rem 2rem;
    box-shadow: -4px 4px 6px 1px rgba(0, 0, 0, 0.25), -4px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    border-radius: 10px;
}

#gridDiv {
    border: 5px solid #292a2e;
    box-shadow: -4px 4px 6px 1px rgba(0, 0, 0, 0.25);
}

#stageMenu {
    border-radius: 10px;
    box-shadow: -4px 4px 6px 1px rgba(0, 0, 0, 0.25);

}

#lobbyTable {
    stroke-width: 1px;
    stroke: #242424;
    filter: drop-shadow(-4px 4px 6px rgba(0, 0, 0, 0.25));
}

#refundButton {
    background-image: radial-gradient(#ed0014, #bf0212, #96020e);
    padding: .35rem;
    margin-right: .5rem;
    border-radius: .5rem;
    font-weight: bold;
    color: ghostwhite;
    box-shadow: 0px 0px 1px 1px #292a2e;
}
