#unit-card {
    width: 12rem;
    box-shadow: -4px 4px 6px 1px rgba(0, 0, 0, 0.25);
}

#unit-card:hover {
    box-shadow: 0px 0px 4px 4px #5C2E7E;
}

#unit-card:active {
    border: 2px solid #5C2E7E;

}